<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Rooster Grin</title>
    <link rel='stylesheet' href='css/main.css'>
    <script defer type='text/javascript' src='lib/main.js'></script>
  </head>
  <body>


    <h1 class='title is-1'>Hello</h1>
    <h2 class='title is-2'>Hello Again</h2>
    <h3 class='title is-3'>Hello Even More</h3>
    <!--  --== NAV ==-- -->
    <section id='nav'>
      <a href='/' id='logo'>
        <img src='images/logo-color.svg'>
      </a>
    </section>

  </body>
</html>