<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Rooster Grin</title>
    
    <!-- Stylesheets -->
    <link rel='stylesheet' href='css/main.css'>

    <!-- JavaScript -->
    <script defer type='text/javascript' src='lib/main.js'></script>
  </head>
  <body>

    <!-- Hero -->
    <section class="hero is-medium has-bg-img">
      <div class="hero-body">
        <a href='/' id='logo'></a>
        <h1 class="title">Welcome To</h1>
        <h2 class="subtitle">Rooster Grin</h2>
        <button class='button is-purple'>Button Button</button>
      </div>
    </section>

    <!-- Content Sections -->
    <section id='section-1'>
      <div class="columns is-mobile">
        <div class="column">
          <h3 class="title is-3">Lorem Ipsum</h3>
          <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
          <a href="#">Lorem Ipsum</a>
        </div>
        <div class="column">
          <img src='images/img-1.jpg' alt='Silhouette of a person helping another up a rocky cliff'>
        </div>
      </div>
    </section>

    <section id='section-2'>
      <div class="container">
        <h3 class="title is-3">Lorem Ipsum</h3>
        <button class='button is-warning'>Button Button</button>
      </div>
    </section>

    <section id="section-3">
      <div class="columns is-mobile">
        <div class="column">
          <h3 class="title is-3">Lorem Ipsum Dolor Sit Amet</h3>
          <p>Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
          <a href="#">Lorem Ipsum</a>
        </div>
        <div class="column">

           <!-- *
             * When purpose of icons is established, IDs could become more semantic.
            * -->
          <div class='icon-container has-text-centered'>
            <a href="#" id='icon-01' class='icon'></a>
            <h4 class="title is-4">Lorem</h4>
          </div>

          <div class='icon-container has-text-centered'>
            <a href="#" id='icon-02' class='icon'></a>
            <h4 class="title is-4">Lorem Ipsum</h4>
          </div>

          <div class='icon-container has-text-centered'>
            <a href="#" id='icon-03' class='icon'></a>
            <h4 class="title is-4">Lorem Ipsum</h4>
          </div>

          <div class='icon-container has-text-centered'>
            <a href="#" id='icon-04' class='icon'></a>
            <h4 class="title is-4">Lorem Ipsum</h4>
          </div>

        </div>
      </div>
    </section>

    <section id="section-4">
      <div class="container">
        <h3 class="title is-3">Lorem Ipsum</h3>
        <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
        <button class="button is-warning">Button Button</button>
      </div>
    </section>

    <section class="section-5">
			
		</section>

    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <span>
          <strong>Follow Us:</strong>
        </span>
        <div class="container">
          
        </div>
      </div>
    </footer>

  </body>
</html>