@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

.is-purple {
  color: white;
  background-color: #AB5FD1;
  border: none;
}


.icon-container {
  display: inline-block;
  margin: 30px;
  width: 15vw;
}

.icon {
  background-color: #AB5FD1;
  height: 50px;
  width: 50px;
}

#icon-01 {
  background: url('/images/home-expertise.svg');
  width: 50px;
  height: 50px;
}

#icon-02 {
  background: url('/images/home-hygiene.svg');
  width: 50px;
  height: 50px;
}

#icon-03 {
  background: url('/images/home-lab.svg');
  width: 50px;
  height: 50px;
}

#icon-04 {
  background: url('/images/home-retention.svg');
  width: 50px;
  height: 50px;
}

#fb-icon {
  background: url('/images/facebook.svg');
  width: 50px;
  height: 50px;
}

#ig-icon {
  background: url('/images/instagram.svg');
  width: 50px;
  height: 50px;
}

// ------------------------------------- HOME

#logo {
  background: url('/images/logo-white.svg');
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
}

#hero {
  background: url('/images/hero.jpg');
  background-position: center;
  background-size: cover;
}

#section-2 {
  background: url('/images/banner-1.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
}

#section-4 {
  background: url('/images/banner-2.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
}


@media screen and (max-width: 1220px) {
  .nav-button {
    font-size: x-large;
    width: 20vw;
    height: 58px;
    line-height: 58px;
    margin: 5px;
    border-radius: 10px;
  }
}


// --------------------------- CAROUSEL

